
<p>
    Follow me on <a target="_blank" href="http://twitter.com/damiththa">twitter</a> to 
    <a target="_blank" href="https://instagram.com/damiththa">Instagram</a> and also check out my 
    <a target="_blank" href="https://github.com/damiththa">GitHub</a>, <a target="_blank" href="http://stackoverflow.com/users/789782/madushm">StackOverFlow</a> my
    <a target="_blank" href="http://codepen.io/damiththa/">CodePen</a> playground and my rarely updating <a href="https://interestsme.wordpress.com/" target="_blank">WordPress.</a>
</p>


<p>
    On average throughout the year, I at least have two <a id="popoverData" data-target="#" data-content="{{CharityWater_Intro}}" rel="popover" data-placement="left" data-original-title="Charity: Water" data-trigger="hover" href="https://my.charitywater.org/damiththa" target="_blank">Charity: Water</a> campaigns.
<br>
    However, month of November is solely dedicated to <a id="popoverOption" data-target="#" data-content="{{Movember_Intro}}" rel="popover" data-placement="bottom" data-original-title="Movember" data-trigger="hover" href="https://mobro.co/damiththa" target="_blank">Movember</a>.
</p>

<h4>Latest Project</h4>

   
