<p>
    Hi, I'm Madushan and welcome to my personal website.
</p>

<p>
    I like to keep a balance between work and leisure. I challenge myself at work as a software developer and always find ways to incorporate new developments in the field into my work. I am also building my project management skills as this is an area I would like to pursue further. Feel free to check out my <a target="_blank" href="http://stackoverflow.com/users/789782/madushm">StackOverFlow</a>, <a target="_blank" href="https://github.com/damiththa">GitHub</a>, and <a target="_blank" href="http://codepen.io/damiththa/">CodePen</a> Playground for an idea of my programming interests. 
</p>

<p>
    I consider myself somewhat social.I enjoy playing tennis and golf whenever I get the change. I like trying different specialty brews with my friends. I like too keep a tasteful presence on social media like <a target="_blank" href="http://twitter.com/damiththa">twitter</a>, <a target="_blank" href="https://www.linkedin.com/in/damiththa">LinkedIn</a>, <a target="_blank" href="https://instagram.com/damiththa">Instagram</a>, and find me on <a href="https://interestsme.wordpress.com/" target="_blank">WordPress.</a>
</p>

<p>
    I believe in the importance of doing good for others and support two <a class="popoverData" data-target="#" data-content="{{CharityWater_Intro}}" rel="popover" data-placement="bottom" data-original-title="Charity: Water" data-trigger="hover" href="https://my.charitywater.org/damiththa" target="_blank">Charity: Water</a> campaigns a year and am a big supporter/participant of <a class="popoverData" data-target="#" data-content="{{Movember_Intro}}" rel="popover" data-placement="bottom" data-original-title="Movember" data-trigger="hover" href="https://mobro.co/damiththa" target="_blank">Movember</a>. 
</p>