<p>
    Hi, I'm Madushan and welcome to my personal website.
</p>

<p>
    I like to keep a balance between work and leisure. I challenge myself at work as a software developer and always find ways to incorporate new developments in the field into my work. 
    <br>
    I believe <a href="https://iot-septa.firebaseapp.com/" target="_blank">IoT</a> and cloud to be the future of internet computing. 
    <br>
    I am also building my project management skills as this is an area I would like to pursue further. 
    <br>
    Please check out my <a target="_blank" href="http://stackoverflow.com/users/789782/madushm">StackOverFlow</a>, <a target="_blank" href="https://github.com/damiththa">GitHub</a>, and <a target="_blank" href="http://codepen.io/damiththa/">CodePen</a> for an idea of my programming interests. 
</p>
<br>
<p>
    I consider myself somewhat social.
    <br>
    I enjoy playing tennis and <a class="popoverData" data-target="#" data-content="Current Handicap : {{HandicapNow}}" rel="popover" data-placement="top" data-original-title="MDMS - Golf" data-trigger="hover" href="https://mdms-golf.firebaseapp.com/#/" target="_blank">golf</a> whenever I get the change and I like trying different specialty brews with my friends.
    <br>
    I keep a tasteful presence on social media like <a target="_blank" href="http://twitter.com/damiththa">twitter</a>, <a target="_blank" href="https://www.linkedin.com/in/damiththa">LinkedIn</a>, <a target="_blank" href="https://instagram.com/damiththa">Instagram</a>, <a class="popoverData" data-target="#" data-content="Current GameScore : {{GamerScore}}" rel="popover" data-placement="top" data-original-title="GamerTag: madushm" data-trigger="hover">XBox</a>, and you can find me on <a href="https://interestsme.wordpress.com/" target="_blank">WordPress.</a>
    <br>
    Please feel free to use anyone of these to contact me.
</p>
<br>
<p>
    Doing good to others has always been important to me therefore I support at least two <a class="popoverData" data-target="#" data-content="{{CharityWater_Intro}}" rel="popover" data-placement="bottom" data-original-title="Charity: Water" data-trigger="hover" href="https://my.charitywater.org/damiththa" target="_blank">Charity: Water</a> campaigns a year. I am also a big supporter/participant of <a class="popoverData" data-target="#" data-content="{{Movember_Intro}}" rel="popover" data-placement="bottom" data-original-title="Movember" data-trigger="hover" href="https://mobro.co/damiththa" target="_blank">Movember</a> in the month of November. 
</p>