<div class="alert alert-warning" role="alert">
  <span class="badge">Note</span>&nbsp; Also, click <a href="http://stackoverflow.com/cv/damiththa" target="_blank" class="alert-link">here</a> and check out my virtual resume.
</div>

<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a data-target="#Summary" aria-controls="home" role="tab" data-toggle="tab">Summary</a>
    </li>
    <li role="presentation">
        <a data-target="#Wistar" aria-controls="profile" role="tab" data-toggle="tab">Wistar</a>
    </li>
    <li role="presentation">
        <a data-target="#Wistar2" aria-controls="profile" role="tab" data-toggle="tab">Wistar(2)</a>
    </li>
    <li role="presentation">
        <a data-target="#Healex" aria-controls="profile" role="tab" data-toggle="tab">Healex</a>
    </li>
    <li role="presentation">
        <a data-target="#Cigna" aria-controls="profile" role="tab" data-toggle="tab">Cigna</a>
    </li>    
  </ul>

  <!-- Tab panes --> 
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="Summary">
       <br>
        <h4>Summary</h4>
        <ul>
            <li>
                Seasoned Application developer with ​up-to-date ​technical knowledge and in-depth understanding​ of business requirements.        
            </li>
            <br>
            <li>
                Certified ScrumMaster and a Microsoft Certified Professional (MCPS) with demonstrated project management experience. 
            </li>
            <br>
            <li>
                Exemplify expertise in all phases of SDLC including requirement analysis, creating project plans, coding, data mining, bench testing, documentation and user training.
            </li>
            <br>
            <li>
                Keen problem-solving skills developed through collaborating with business and technical simultaneously, accelerating success in communicating with business users, technical teams stakeholders and executive management.
            </li>
            <br>
            <li>
                Knowledgeable in technical specifications, workflow development, risk management, and QA.    
            </li>
            <br>
            <li>
                Display effectiveness in a competitive, team-oriented, fast-paced environment.
            </li>    
        </ul>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="Wistar">
       <br>
        <h4><a href="http://www.wistar.org" target="_blank">The Wistar Institure</a> - Philadelphia, PA</h4>
        <div class="col-xs-9">
        <ul>
            <li>
                <strong>Software Developer &nbsp;&nbsp; 05/2014 - Current</strong>        
                <ul>
                    <li>
                        Developed the seamless connection between AD and system applications Institute now uses for centralized permission/role access control management.
                    </li>
                    <br>
                    <li>
                        Project team member, IT representation for third party system implementations such as Institute’s financial system USL and e-procurement system, ESM.
                    </li>
                    <br>
                    <li>
                        Evaluating the possibility of moving current SQL data farm into a 100% cloud managed SQL service, aws RDS.
                    </li>
                    <br>
                    <li>
                        Implemented the usage of code repositories (github) to provide expert source control and to considerably better manage Development and Production environments.
                    </li>
                    <br>
                    <li>
                        <u>Learning Management System</u> - Using SSO (OneLogin) and REST APIs to connect to COST products to make a comprehensive system, which acts as a single portal where administrators manage institute required certifications and questioners and users to check grades and upcoming exams.
                    </li>
                    <br>
                    <li>
                        <u>Room Reservation System</u> - A reservation system that’s used to schedule / modify meeting reservations, AV equipment reservations, food reservations and joint room reservations.
                    </li>
                    <br>
                    <li>
                        <u>Grants Application Processing System</u> - Created system that works closely with Pre-Award and Grants Accounting Department’s grant application processing and its automated follow-through.
                    </li>                    
                </ul>
            </li>
        </ul>
        </div>
        <div class="col-xs-3">
            <strong>Key Technologies:</strong>
            <br>
            <i>
                aws, AngularJS, CDN, css, ColdFusion (8, 9, 10 and 11), fullcalendar (and fullcalendar-schedular), HTML/XTML, JavaScript, JSON, jQuery and jQuery Mobile, less, MSSQL (2005 and 2012), momentJS, REST API, twitter-bootstrap, xml	
            </i>
        </div>    
    </div>
    <div role="tabpanel" class="tab-pane fade" id="Wistar2">
       <br>
        <h4><a href="http://www.wistar.org" target="_blank">The Wistar Institure</a> - Philadelphia, PA</h4>
        <div class="col-xs-9">
        <ul>
            <li>
                <strong>Computer Programmer &nbsp;&nbsp; 07/2009 - 05/2014</strong>
                <ul>
                    <li>
                        <u>Labware Ordering System</u> -  Automates Labware supply orders, service, and generate other inventory optimization reports. Overturned institute's Lab equipment budget’s annual $50K deficit.
                    </li>
                    <br>
                    <li>
                        <u>Biological/Chemical Request for Shipment System</u> -  Completely converted a paper system into an electronic system from ground up ensuring smooth cross-departmental operational flow of this highly sensitive information.
                    </li>
                    <br>
                    <li>
                        <u>Work Order Request System​</u> -  Created a front-end system that is fully integrated to the commercial work order database system MP2 then gets distributed among various admin channels of the facilities department of 25 members, consist of managers, admins staff, workers etc.
                    </li>
                    <br>            
                    <li>
                        Incorporating levenshtein distance theorem, added a work check algorithm to institute's PO system, to automatically notify Environment and Health Safety (EHS) department of any U.S. sanctioned items/agents (known as ​select agents​).
                    </li>
                </ul>
            </li>
        </ul>
        </div>
        <div class="col-xs-3">
            <strong>Key Technologies:</strong>
            <br>
            <i>
                MSSQL, ColdFusion (8,9,10 and 11), JQuery and JQuery Mobile, XML, HTML/XHTML, JSON(P), REST API, JavaScript, AngualarJS, CSS, less and IIS.
            </i>   
        </div>      
    </div>
    <div role="tabpanel" class="tab-pane fade" id="Healex">
       <br>
        <h4><a href="http://www.healex.com" target="_blank">Healex System Limited</a> - Newark, DE</h4>
        <div class="col-xs-9">
        <ul>
            <li>
                <strong>Application Developer &nbsp;&nbsp; 06/2008 - 03/2009</strong>        
                <ul>
                    <li>
                        Responsible for updates, maintenance and deployment of the main company website.
                    </li>
                    <br>
                    <li>
                        Developed SDLC documentation, business requirements, technical and QA specifications, and established process controls for projects.
                    </li>
                    <br>
                    <li>
                        Administrated source code change update using SUBVERSION (SVN) and repository maintenance.
                    </li>
                    <br>
                    <li>
                        Back-end technical support and technical analysis support for web based supply chain management tool, NOCTURNE.
                    </li>
                    <br>
                    <li>
                        Executed comprehensive evaluation and documentation of the full business process model for Agilent’s ChemStation’s Citrix based application CHEMLAUNCH.
                    </li>
                    <br>
                    <li>
                        Authoritative developer for online form application IEP-EMERGE to create, maintain, support and deploy.
                    </li>
                </ul>
            </li>     
        </ul>
        </div>
        <div class="col-xs-3">
            <strong>Key Technologies:</strong>
            <br>
            <i>
                asp, javascript, vbscript, Visual studios 2008, InterDev, SQL Enterprise Manager, DTS/SSIS, Virtual Network computing (VNC), Remote Desktop Connection (RDC), VMWare.
            </i> 
        </div>        
    </div>
    <div role="tabpanel" class="tab-pane fade" id="Cigna">
       <br>
        <h4><a href="http://www.cigna.com" target="_blank">Cigna International</a> - Claymont, DE</h4>
        <div class="col-xs-9">
        <ul>
            <li>
                <strong>IT Systems Infrastructure - Intern &nbsp;&nbsp; 05/2007 - 08/2008</strong>        
                <ul>
                    <li>
                        Migrated program logic and data from Hummingbird to Oracle database.
                    </li>
                    <br>
                    <li>
                        Conducted a database project involve in split database for Front-end and back-end users.
                    </li>
                    <br>
                    <li>
                        Administered the Diamond/Citrix application security derived from role based access certification and provided troubleshooting and support for Vantive/Mercury Quality center Tickets.
                    </li>
                </ul>
            </li>
        </ul>
        </div>
        <div class="col-xs-3">
            <strong>Key Technologies:</strong>
            <br>
            <i>
                Oracle, Hummingbird, Vantive/Mercury
            </i>   
        </div>      
    </div>
  </div>
</div>