
On average throughout the year, I have at least two <a href="https://my.charitywater.org/damiththa" target="_blank">Charity: Water</a> campaigns.

<br>

However, month of November is solely dedicated to <a href="https://mobro.co/damiththa">Movember</a>.

<div class="container">
    <a id="popoverData" data-target="#" data-content="{{CharityWater_Intro}}" rel="popover" data-placement="right" data-trigger="hover" href="https://my.charitywater.org/damiththa" target="_blank">Charity: Water</a>

    <a id="popoverOption" data-target="#" data-content="{{Movember_Intro}}" rel="popover" data-placement="right" data-original-title="Movember" href="https://mobro.co/damiththa" target="_blank">Movember</a>
</div>    

