<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation">
        <a data-target="#Education" aria-controls="home" role="tab" data-toggle="tab">Education</a>
    </li>
    <li role="presentation" class="active">
        <a data-target="#Certifications" aria-controls="profile" role="tab" data-toggle="tab">Certifications</a>
    </li>
    <li role="presentation">
        <a data-target="#Other" aria-controls="profile" role="tab" data-toggle="tab">Other</a>
    </li>
  </ul>

  <!-- Tab panes --> 
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade" id="Education">
       <br>
        <h4>Education</h4>
        <ul>
            <li>
                <strong>MBA</strong>        
                <ul>
                  <li>Masters of Business Administration</li>
                  <li>Concentration in Information Technology</li> 
                  <li>GPA 3.8/4.0 “Cum Laude”</li>
                </ul>
            </li>                 
        </ul> 
        <ul>
            <li>
                <strong>BS</strong>        
                <ul>
                  <li>Bachelor of Science in Business Administration </li>
                  <li>Concentration in Management Information Technology</li> 
                  <li>GPA 3.8/4.0 “Cum Laude”</li>
                  <li>Dean's list, Alpha Chi (Honor Soceity)</li>
                </ul>
            </li>                 
        </ul> 
    </div>
    <div role="tabpanel" class="tab-pane fade in active" id="Certifications">
       <br>
        <h4>Certifications</h4>
        <ul>
            <li>
                <strong>MS: Managing Projects w/ Microsoft Project 2013</strong>        
                <ul>
                    <li>Since 2015.</li>
                </ul>
            </li>                 
        </ul> 
       <br>
        <ul>
            <li>
                <strong>MCPS: Microsoft Certified Professional</strong>        
                <ul>
                    <li>Since 2015.</li>
                </ul>
            </li>                 
        </ul> 
       <br>
        <ul>
            <li>
                <strong>CSC: Certified ScrumMaster</strong>        
                <ul>
                    <li>Since 2013.</li>
                    <li>Certificant ID: 287943</li>
                </ul>
            </li>                 
        </ul>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="Other">
        <br>
        <iframe class="airtable-embed col-sm-offset-1" src="https://airtable.com/embed/shrqqoQNjdw5VWhLc?layout=card" frameborder="0" onmousewheel="" width="65%" height="390" style="background: #fff; border: 1px solid #ccc;"></iframe>
    </div>
  </div>
</div>